setg Prompt "SHELL(Sessions: %S Metasploit: %J)"
clear
banner

<ruby>
require 'rss'
require 'rubygems'
require 'nokogiri'
require 'open-uri'

(1..5).each do |n|
page = Nokogiri::HTML(open('https://www.rapid7.com/db/?q=&type=&page='+n.to_s))
page.css('div.resultblock__info-title').each do |el|
   puts el.text.strip
end
end
</ruby>
